{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true,
    "amd": true,
    "commonjs": true,
    "jest": true
  },
  "plugins": [
  ],
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/first": "off",
    "no-underscore-dangle": "off",
    "arrow-body-style": "off",
    "allow-import-export-everywhere": "on"
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}
